.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.boton{
    margin: 0.5em;
}
#logoAP{
    width: 150px;
}
img{
    width: 35px;
}

/*--- Para la vista de celular ---*/
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}