<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>trabajo 1 </h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure unde nesciunt ut? Voluptatem sit ullam ut ab quisquam? Expedita minima excepturi, quisquam sit eius molestiae ullam doloremque consequatur porro similique.</p>
        </ul>
        <ul>
            <li><h1>trabajo 1 </h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure unde nesciunt ut? Voluptatem sit ullam ut ab quisquam? Expedita minima excepturi, quisquam sit eius molestiae ullam doloremque consequatur porro similique.</p>
        </ul>
        <ul>
            <li><h1>trabajo 1 </h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure unde nesciunt ut? Voluptatem sit ullam ut ab quisquam? Expedita minima excepturi, quisquam sit eius molestiae ullam doloremque consequatur porro similique.</p>
        </ul>
    </div>
</div>
