<div class="row">
    <h1>Hars & soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=""
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]= "false"
            [showSubtitle]="false"
            [title]="'HTML'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=""
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]= "false"
            [showSubtitle]="false"
            [title]="'CSS'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=""
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]= "false"
            [showSubtitle]="false"
            [title]="'JAVASCRIPT'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=""
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]= "false"
            [showSubtitle]="false"
            [title]="'GITHUB'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=""
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]= "false"
            [showSubtitle]="false"
            [title]="'INGLES'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]=""
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [showUnits]= "false"
            [showSubtitle]="false"
            [title]="'TRABAJO COLABORATIVO'"
            [titleColor]="'black'"
            [titleFontSize]="'2em'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'blue'"
            [innerStrokeColor]="'grey'"
            [animation]="true"
            [animationDuration]="1200"
        ></circle-progress>
    </div>
   
</div>
